$black:     rgb(34, 32, 37);
$trim:      rgb(206,255,26);
$trim-dark: rgb(85,80,92);
$dark:      rgb(58,64,52);
$light:     rgb(214,216,214);

* {
  font-family: "Helvetica Neue", sans-serif;
  color: rgb(214,216,214);
}

html {
  background: $black;
}

.synth-main {
  display: flex;
  flex-direction: column;
}
.osc-array {
  display: flex;
  flex-direction: row;
}
.osc-array-main {
  display: flex;
  flex-direction: column;
}
.osc-array-main > button {
  padding: 2em;
  background: rgb(58,64,52);
  border: 1px solid rgb(214,216,214);
}
.osc-component {
  border: 2px solid rgb(85,80,92);
  margin: 1em 0;
  padding: 1em;
}
